<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<th:block layout:fragment="styles">

</th:block>

<head>
    <th:block layout:fragment="title-meta" th:replace="~{partials/title-meta :: title-meta('File Manager')}"/>
</head>

<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{partials/page-title :: page-title('Apps', 'File Manager')}"></th:block>
    <div class="card">
        <div class="d-flex">
            <div aria-labelledby="fileManagerSidebarLabel" class="offcanvas-xl offcanvas-start file-manager"
                 id="fileManagerSidebar" tabindex="-1">
                <!-- users -->
                <div class="d-flex flex-column">
                    <div class="p-3">
                        <div class="d-flex flex-column">
                            <button class="btn fw-medium btn-danger drop-arrow-none dropdown-toggle w-100 mb-3"
                                    type="button">
                                Create New <i class="ti ti-plus ms-1"></i>
                            </button>
                            <div class="file-menu">
                                <a class="list-group-item d-flex align-items-center active" href="#"><i
                                        class="ti ti-folder fs-18 align-middle me-2"></i>My Files</a>
                                <a class="list-group-item d-flex align-items-center" href="#"><i
                                        class="ti ti-brand-google-drive fs-18 align-middle me-2"></i>Google Drive</a>
                                <a class="list-group-item d-flex align-items-center" href="#"><i
                                        class="ti ti-share-3 fs-18 align-middle me-2"></i>Share with me</a>
                                <a class="list-group-item d-flex align-items-center" href="#"><i
                                        class="ti ti-clock fs-18 align-middle me-2"></i>Recent</a>
                                <a class="list-group-item d-flex align-items-center" href="#"><i
                                        class="ti ti-star fs-18 align-middle me-2"></i>Starred</a>
                                <a class="list-group-item d-flex align-items-center" href="#"><i
                                        class="ti ti-trash fs-18 align-middle me-2"></i>Deleted Files</a>
                            </div>
                            <div class="mt-5 pt-5">
                                <div class="alert alert-secondary p-3 pt-0 text-center mb-0" role="alert">
                                    <img alt="" class="img-fluid mt-n5" src="/images/coffee-cup.svg"
                                         style="max-width: 135px;"/>
                                    <div>
                                        <h5 class="alert-heading fw-medium fs-18 mt-2">Get more space for files</h5>
                                        <p>We offer you unlimited storage space for all you needs</p>
                                        <a class="btn btn-secondary" href="#!">Upgrade to Pro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 border-start">
                <div class="p-3 d-flex align-items-center justify-content-between">
                    <h4 class="header-title">Files</h4>
                    <a class="link-reset fw-medium text-decoration-underline link-offset-2" href="#">View All <i
                            class="ti ti-arrow-right"></i></a>
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap border-top mb-0">
                        <thead class="bg-light bg-opacity-25">
                        <tr>
                            <th class="ps-3 fs-12 text-uppercase text-muted">Name</th>
                            <th class="fs-12 text-uppercase text-muted">Uploaded By</th>
                            <th class="fs-12 text-uppercase text-muted">Size</th>
                            <th class="fs-12 text-uppercase text-muted">Last Update</th>
                            <th class="fs-12 text-uppercase text-muted">Members</th>
                            <th class="fs-12 text-uppercase text-muted" style="width: 80px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-info-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-docx fs-22 text-info"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Dashboard-requirements.docx</a></span>
                                        <p class="mb-0 fs-12">12 Docx</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-1.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Harriett E. Penix</p>
                                        <span class="fs-12">harriettepenix@rhyta.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>128 MB</td>
                            <td>
                                April 25, 2024
                            </td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-success rounded-circle fw-bold">
                                                            D
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-primary rounded-circle fw-bold">
                                                            K
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-secondary rounded-circle fw-bold">
                                                            H
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-warning rounded-circle fw-bold">
                                                            L
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-info rounded-circle fw-bold">
                                                            G
                                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-1.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-danger-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-pdf fs-22 text-danger"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">ocen-dashboard.pdf</a></span>
                                        <p class="mb-0 fs-12">18 Pdf</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-2.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Carol L. Simon</p>
                                        <span class="fs-12">carollcimon@jourrapide.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>521 MB</td>
                            <td>
                                April 28, 2024
                            </td>
                            <td id="tooltips-container1">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-danger rounded-circle fw-bold">
                                                            Y
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-success rounded-circle fw-bold">
                                                            L
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-dark rounded-circle fw-bold">
                                                            O
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-warning rounded-circle fw-bold">
                                                            J
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-primary rounded-circle fw-bold">
                                                            G
                                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-1.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-warning-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-files fs-22 text-warning"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Dashboard tech requirements</a></span>
                                        <p class="mb-0 fs-12">12 File</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-3.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Rosa L. Winters</p>
                                        <span class="fs-12">rosalwinters@teleworm.us</span>
                                    </div>
                                </div>
                            </td>
                            <td>7.2 MB</td>
                            <td>
                                May 1, 2024
                            </td>
                            <td>
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-primary rounded-circle fw-bold">
                                                            A
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-warning rounded-circle fw-bold">
                                                            B
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-danger rounded-circle fw-bold">
                                                            R
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-secondary rounded-circle fw-bold">
                                                            C
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-dark rounded-circle fw-bold">
                                                            U
                                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-1.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-primary-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-jpg fs-22 text-primary"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">dashboard.jpg</a></span>
                                        <p class="mb-0 fs-12">172 Jpg Photo</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-4.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Jeremy C. Willi</p>
                                        <span class="fs-12">jeremycwilliams@dayrep.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>54.2 MB</td>
                            <td>
                                May 2, 2024
                            </td>
                            <td>
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-warning rounded-circle fw-bold">
                                                            L
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-secondary rounded-circle fw-bold">
                                                            Y
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-dark rounded-circle fw-bold">
                                                            A
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-primary rounded-circle fw-bold">
                                                            R
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-info rounded-circle fw-bold">
                                                            V
                                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-1.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-success-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-zip fs-22 text-success"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">admin-hospital.zip</a></span>
                                        <p class="mb-0 fs-12">admin-hospital.zip</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-5.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">James R. Alvares</p>
                                        <span class="fs-12">jamesralvares@jourrapide.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>8.3 MB</td>
                            <td>
                                May 6, 2024
                            </td>
                            <td>
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-dark rounded-circle fw-bold">
                                                            G
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-light rounded-circle fw-bold">
                                                            O
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-secondary rounded-circle fw-bold">
                                                            W
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-primary rounded-circle fw-bold">
                                                            A
                                                        </span>
                                    </div>
                                    <div class="avatar avatar-sm">
<span class="avatar-title bg-warning rounded-circle fw-bold">
                                                            K
                                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-1.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-danger-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-pdf fs-22 text-danger"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Project-summary.pdf</a></span>
                                        <p class="mb-0 fs-12">5 Pages</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-2.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Michael S. Parks</p>
                                        <span class="fs-12">michaelparks@mail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>80 MB</td>
                            <td>April 22, 2024</td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-success rounded-circle fw-bold">A</span>
                                    </div>
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-primary rounded-circle fw-bold">T</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-2.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-primary-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-xls fs-22 text-primary"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Sales-data.xlsx</a></span>
                                        <p class="mb-0 fs-12">20 Sheets</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-3.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Samantha W. Howard</p>
                                        <span class="fs-12">samantha.howard@mail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>256 MB</td>
                            <td>April 20, 2024</td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-info rounded-circle fw-bold">S</span>
                                    </div>
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-warning rounded-circle fw-bold">C</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-3.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-warning-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-ppt fs-22 text-warning"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Presentation-slides.pptx</a></span>
                                        <p class="mb-0 fs-12">15 Slides</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-4.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Jonathan D. Keller</p>
                                        <span class="fs-12">jonathan.keller@mail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>64 MB</td>
                            <td>April 18, 2024</td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-danger rounded-circle fw-bold">J</span>
                                    </div>
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-primary rounded-circle fw-bold">M</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-4.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-success-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-txt fs-22 text-success"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Readme.txt</a></span>
                                        <p class="mb-0 fs-12">1 Page</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-5.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Emily R. Stone</p>
                                        <span class="fs-12">emilystone@mail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>2 MB</td>
                            <td>April 15, 2024</td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-warning rounded-circle fw-bold">E</span>
                                    </div>
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-secondary rounded-circle fw-bold">N</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-5.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0 avatar-md bg-secondary-subtle d-inline-flex align-items-center justify-content-center rounded-2">
                                        <i class="ti ti-file-type-jpg fs-22 text-secondary"></i>
                                    </div>
                                    <div>
                                        <span class="fw-medium"><a class="text-reset" href="javascript: void(0);">Team-photo.jpg</a></span>
                                        <p class="mb-0 fs-12">1 Image</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div>
                                        <a href="javascript: void(0);">
                                            <img alt="friend" class="rounded-circle avatar-md"
                                                 src="/images/users/avatar-6.jpg"/>
                                        </a>
                                    </div>
                                    <div>
                                        <p class="mb-0 fw-medium">Carlos M. Reyes</p>
                                        <span class="fs-12">carlos.reyes@mail.com</span>
                                    </div>
                                </div>
                            </td>
                            <td>3 MB</td>
                            <td>April 10, 2024</td>
                            <td id="tooltips-container">
                                <div class="avatar-group flex-nowrap">
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-info rounded-circle fw-bold">C</span>
                                    </div>
                                    <div class="avatar avatar-sm">
                                        <span class="avatar-title bg-danger rounded-circle fw-bold">R</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown flex-shrink-0 text-muted">
                                    <a aria-expanded="false" class="dropdown-toggle drop-arrow-none fs-20 link-reset"
                                       data-bs-toggle="dropdown" href="#">
                                        <i class="ti ti-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-share me-1"></i> Share</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-link me-1"></i> Get Sharable Link</a>
                                        <a class="dropdown-item" download="" href="/images/users/avatar-6.jpg"><i
                                                class="ti ti-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-pin me-1"></i> Pin</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-edit me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="ti ti-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="javascripts">

</th:block>
</body>

</html>