<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<th:block layout:fragment="styles">

</th:block>

<head>
    <th:block layout:fragment="title-meta" th:replace="~{partials/title-meta :: title-meta('Solar Icons')}" />
</head>

<body>
    <th:block layout:fragment="content">
        <th:block th:replace="~{partials/page-title :: page-title('Icons', 'Solar Icons')}"></th:block>
        <div class="row d-none">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 mb-2 fw-semibold">Overview</h4>
                        <p class="mb-4 text-muted">Our cutting-edge Solar Iconset boasts an extensive collection of over
                            7,477 glyphs, encompassing a diverse range of design variants, all conveniently packed into
                            a
                            single font file</p>
                        <h4 class="mt-0 mb-2 fw-semibold">Usage</h4>
                        <div class="d-flex align-items-center gap-2">
                            <iconify-icon class="fs-2" icon="solar:4k-bold"></iconify-icon>
                            <iconify-icon class="fs-2 text-primary" icon="solar:4k-bold-duotone"></iconify-icon>
                            <iconify-icon class="fs-2 text-danger" icon="solar:4k-broken"></iconify-icon>
                            <iconify-icon class="fs-2 text-info" icon="solar:4k-line-duotone"></iconify-icon>
                            <iconify-icon class="fs-2 text-warning" icon="solar:4k-linear"></iconify-icon>
                            <iconify-icon class="fs-2 text-secondary" icon="solar:4k-outline"></iconify-icon>
                        </div>
                        <div class="card shadow-none border rounded-3 mt-4 mb-0">
                            <div class="card-header border-bottom border-dashed">
                                <h4 class="header-title fs-14">HTML</h4>
                            </div>
                            <div class="card-body">
                                <pre class="language-markup p-0">
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-bold&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-bold-duotone&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-broken&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-line-duotone&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-linear&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                                <code>
                                                    &lt;iconify-icon icon=&quot;solar:4k-outline&quot;&gt;&lt;/iconify-icon&gt;
                                                </code>
                                            </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="d-flex flex-wrap gap-3 justify-content-center icon-box">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="4k" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:4k-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Accessibility" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:accessibility-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Accumulator" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:accumulator-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Add Circle" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:add-circle-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Archive" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:archive-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Armchair" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:armchair-2-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Asteroid" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:asteroid-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Atom" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:atom-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Backpack" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:backpack-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Backspace" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:backspace-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bacteria" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bacteria-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bag 2" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bag-2-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Balloon" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:balloon-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Balls" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:balls-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Banknote" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:banknote-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bar Chair" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bar-chair-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Basketball" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:basketball-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bath" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bath-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bed" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bed-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bell Bing" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bell-bing-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bill" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bill-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bill Check" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bill-check-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bolt" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bolt-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bomb" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bomb-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Book 2" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:book-2-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bookmark" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bookmark-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Boombox" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:boombox-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bottle" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bottle-outline"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bowling" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bowling-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Box" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:box-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Broom" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:broom-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bug" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bug-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Bus" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:bus-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Calculator" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:calculator-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Camera" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:camera-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Card" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:card-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cardholder" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cardholder-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cart 2" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cart-2-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Case" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:case-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cassette" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cassette-2-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cat" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cat-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Chair 2" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:chair-2-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Chart 2" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:chart-2-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Chat Dots" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:chat-dots-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Checklist" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:checklist-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="City" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:city-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cloud" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cloud-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Code File" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:code-file-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Command" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:command-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Compass" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:compass-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Condicioner" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:condicioner-2-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Confetti" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:confetti-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Copyright" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:copyright-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Corkscrew" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:corkscrew-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cosmetic" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cosmetic-line-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Course Up" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:course-up-linear"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="CPU" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cpu-bold"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Crop" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:crop-bold-duotone"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Crown" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:crown-line-broken"></iconify-icon>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"
                    data-bs-placement="top" data-bs-title="Cup First" data-bs-toggle="tooltip">
                    <iconify-icon class="fs-2" icon="solar:cup-first-line-duotone"></iconify-icon>
                </div>
            </div>
        </div>
        <div class="my-3 text-center">
            <a class="btn btn-danger" href="https://icon-sets.iconify.design/solar/" target="_blank">View All Icons</a>
        </div>
    </th:block>

    <th:block layout:fragment="javascripts">

    </th:block>
</body>

</html>