<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<th:block layout:fragment="styles">

</th:block>

<head>
    <th:block layout:fragment="title-meta" th:replace="~{partials/title-meta :: title-meta('Tabler Icons')}"/>
</head>

<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{partials/page-title :: page-title('Icons', 'Tabler Icons')}"></th:block>
    <div class="d-flex flex-wrap gap-3 justify-content-center icon-box mb-3">
<span class="card" data-bs-placement="top" data-bs-title="ti ti-a-b-2" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-a-b-2 fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-a-b-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-a-b-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-a-b" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-a-b fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-abacus-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-abacus-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-abacus" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-abacus fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-abc" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-abc fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-access-point-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-access-point-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-accessible-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-accessible-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-accessible" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-accessible fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-activity-heartbeat" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-activity-heartbeat fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-activity" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-activity fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ad-2" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ad-2 fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ad-circle-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ad-circle-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ad-circle" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ad-circle fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ad-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ad-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ad" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ad fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-address-book-off" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-address-book-off fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-address-book" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-address-book fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-adjustments" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-adjustments fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-aerial-lift" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-aerial-lift fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-affiliate" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-affiliate fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-air-balloon" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-air-balloon fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-air-conditioning" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-air-conditioning fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-air-traffic-control" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-air-traffic-control fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alarm" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alarm fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-album" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-album fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alert-circle" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alert-circle fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alien" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alien fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-align-box-bottom-center"
              data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-align-box-bottom-center fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-align-left" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-align-left fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alpha" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alpha fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alphabet-cyrillic" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alphabet-cyrillic fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-alt" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-alt fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ambulance" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ambulance fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ampersand" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ampersand fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-analyze" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-analyze fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-anchor" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-anchor fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-angle" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-angle fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-ankh" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-ankh fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-antenna-bars-5" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-antenna-bars-5 fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-antenna" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-antenna fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-aperture" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-aperture fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-api-app" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-api-app fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-api" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-api fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-app-window" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-app-window fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-apple" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-apple fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-apps" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-apps fs-2"></i>
</div>
</span>
        <span class="card" data-bs-placement="top" data-bs-title="ti ti-archery-arrow" data-bs-toggle="tooltip">
<div class="card-body">
<i class="ti ti-archery-arrow fs-2"></i>
</div>
</span>
    </div>
    <div class="text-center">
        <a class="btn btn-danger" href="https://tabler.io/icons" target="_blank">View All Icons</a>
    </div>
</th:block>

<th:block layout:fragment="javascripts">

</th:block>
</body>

</html>