<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<th:block layout:fragment="styles">

</th:block>

<head>
    <th:block layout:fragment="title-meta" th:replace="~{partials/title-meta :: title-meta('Apex Mixed Charts')}"/>
</head>

<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{partials/page-title :: page-title('Apex', 'Mixed Charts')}"></th:block>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Line & Column Chart</h4>
                    <div dir="ltr">
                        <div class="apex-charts" data-colors="#6b5eae,#31ce77" id="line-column-mixed"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Multiple Y-Axis Chart</h4>
                    <div dir="ltr">
                        <div class="apex-charts" data-colors="#6b5eae,#39afd1,#fa5c7c" id="multiple-yaxis-mixed"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Line & Area Chart</h4>
                    <div dir="ltr">
                        <div class="apex-charts" data-colors="#31ce77,#fa5c7c" id="line-area-mixed"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Line, Column & Area Chart</h4>
                    <div dir="ltr">
                        <div class="apex-charts" data-colors="#6b5eae,#39afd1,#fa5c7c" id="all-mixed"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
</th:block>

<th:block layout:fragment="javascripts">
    <script src="/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/js/components/chart-apex-mixed.js"></script>
</th:block>
</body>

</html>